---
- name: Setup K8s Cluster (Helm, Cilium, ArgoCD)
  hosts: master
  become: yes
  environment:
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
  vars:
    # Versions
    cilium_version: "1.14.5"
    argocd_version: "5.51.6" # ArgoCD Chart version

  tasks:
    # -------------------------------------------------------------------------
    # 1. Install Helm
    # -------------------------------------------------------------------------
    - name: Download Helm install script
      get_url:
        url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
        dest: /tmp/get_helm.sh
        mode: '0700'

    - name: Install Helm
      command: /tmp/get_helm.sh
      args:
        creates: /usr/local/bin/helm

    # -------------------------------------------------------------------------
    # 2. Setup Helm Repos
    # -------------------------------------------------------------------------
    - name: Add Cilium Helm repo
      command: helm repo add cilium https://helm.cilium.io/
      changed_when: false

    - name: Add ArgoCD Helm repo
      command: helm repo add argo https://argoproj.github.io/argo-helm
      changed_when: false

    - name: Update Helm repos
      command: helm repo update
      changed_when: false

    # -------------------------------------------------------------------------
    # 3. Install Cilium
    # -------------------------------------------------------------------------
    # Note: K3s flannels might need to be disabled for Cilium strict mode,
    # but strictly speaking Cilium can run on top or replace CNI.
    # We assume K3s was installed with `--flannel-backend=none` or similar if we want full Cilium networking.
    # However, for now we just install it as requested. 
    - name: Install Cilium
      command: >
        helm upgrade --install cilium cilium/cilium 
        --version {{ cilium_version }}
        --namespace kube-system 
        --set operator.replicas=1
      # Using upgrade --install is idempotent-ish
      register: cilium_install
      changed_when: "'Release \"cilium\" does not exist. Installing it now.' in cilium_install.stdout"

    # -------------------------------------------------------------------------
    # 4. Install ArgoCD
    # -------------------------------------------------------------------------
    - name: Create ArgoCD namespace
      command: kubectl create namespace argocd
      register: create_ns_argocd
      failed_when: 
        - create_ns_argocd.rc != 0 
        - "'already exists' not in create_ns_argocd.stderr"
      changed_when: "'created' in create_ns_argocd.stdout"

    - name: Install ArgoCD
      command: >
        helm upgrade --install argocd argo/argo-cd 
        --version {{ argocd_version }}
        --namespace argocd
        --set server.service.type=LoadBalancer
      register: argocd_install
      changed_when: "'Release \"argocd\" does not exist. Installing it now.' in argocd_install.stdout"
