---
- import_playbook: harden.yml
- import_playbook: setup_cluster.yml


- name: Post-Provisioning Configuration
  hosts: master
  gather_facts: no
  become: yes
  tasks:
    - name: Wait for SSH to be ready
      wait_for_connection:
        timeout: 300

    - name: Wait for K3s content to appear
      wait_for:
        path: /etc/rancher/k3s/k3s.yaml
        state: present
        timeout: 300

    - name: Fetch kubeconfig
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: ../../k3s_config.yaml
        flat: yes

    - name: Update kubeconfig server address (Localhost Adjustment)
      delegate_to: localhost
      become: no
      replace:
        path: ../../k3s_config.yaml
        regexp: 'https://127.0.0.1:6443'
        replace: 'https://{{ ansible_host }}:6443'
