apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: helabooking-app
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/HelaBooking/helabooking-infra.git
    targetRevision: HEAD
    path: cloud/ansible/k8s/apps/helabooking
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
